In [35]:
import pandas as pd
import numpy as np

In [120]:
source_df = pd.read_excel("./cars.xls")
source_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631 entries, 0 to 630
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         631 non-null    int64
 1   link       631 non-null    object
 2   car_name   631 non-null    object
 3   car_brand  631 non-null    object
 4   price      631 non-null    object
 5   sales      631 non-null    object
dtypes: int64(1), object(5)
memory usage: 29.7+ KB

### 数据清洗

In [118]:
df = source_df[["car_name","car_brand","price","sales"]].copy()
df = df.query('price!="暂无报价"')
df[["brand_name","model"]] = df["car_brand"].str.split("/",expand=True)
df["price"] = df["price"].str.strip("万")
df[["min_price","max_price"]] = df["price"].str.split("-",expand=True)
df = df[["car_name","brand_name","model","min_price","max_price","sales"]]
df["sales"] = df["sales"].str.replace(",","")
df[["min_price","max_price","sales"]] = df[["min_price","max_price","sales"]].apply(pd.to_numeric,axis=1)
df.loc[df['max_price'].isnull(),'max_price'] = df[df['max_price'].isnull()]['min_price'] 
df["sales_volume"] = (df["min_price"]+df["max_price"])/2*df["sales"]
df

,car_name,brand_name,model,min_price,max_price,sales,sales_volume
0,宋PLUS DM-i,比亚迪,紧凑型suv,15.48,21.88,400041.0,7472765.880
1,五菱宏光MINIEV,上汽通用五菱,微型车,2.98,9.99,394557.0,2558702.145
2,轩逸,东风日产,紧凑型车,7.38,15.59,394190.0,4527272.150
3,朗逸,上汽大众,紧凑型车,6.69,12.99,332759.0,3274348.560
4,Model Y,特斯拉中国,中型suv,26.19,35.99,313140.0,9735522.600
...,...,...,...,...,...,...,...
626,富康ES500,神龙汽车,紧凑型车,14.18,14.18,11.0,155.980
627,菲斯塔 纯电动,北京现代,紧凑型车,11.08,13.58,11.0,135.630
628,北京X5,北京汽车,紧凑型suv,7.19,10.19,8.0,69.520
629,奔腾E01,一汽奔腾,中型suv,19.68,22.88,7.0,148.960
630,北京U7,北京汽车,中型车,8.11,11.61,3.0,29.580